* {

    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    padding: 0%;
    margin: 0%;
}

div.main-content{

    width: 100vw;
    min-height: 100vh;
    background-image: url('./images/lake.jpg');
    background-size: cover;
    background-repeat: repeat;
    filter: blur(8px);
    overflow: hidden;
    -webkit-filter: blur(8px);
}

div.login-container {

    padding: 2rem 0px;
    z-index: 2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

form.form-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    z-index: 2;
}

form.form-container label {

    display: block;
    font-weight: bold;
}

div.login-title {

    text-align: center;
    width: 100%;
}

div.login-title i {

    font-size: 44px;
}

form.form-container input {

    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

form.form-container div {

    width: 80%;
}

div.form-button {

    display: flex;
    justify-content: space-between;
}

form.form-container button {

    padding: 10px;
    width: 40%;
    font-weight: bold;
    outline: none;
    border: none;
    background-color: palevioletred;
    cursor: pointer;
}

span#status {

    padding: 3px;
    visibility: hidden;
    width: 100%;
    display: block;
    text-align: center;
}

form.form-container button:first-child {

    background-color: green;
}

div.form-button button:hover {

    background-color: white;
    color: black;
}

a {

    text-decoration: none;
    color: black;
}